@media (min-width: 676px) {

    /* 'img/watercolor4.jpg' */

    body { 
        background: url('img/watercolor4.jpg') no-repeat center center fixed; 
        background-size: cover;
        /* opacity: 0.8; */
      }
    
    h1.text-center {
      color: white;
      font-size: 12vw;
    }

    audio {
        width: 75%;
        margin: 6px 1px 1px 83px;
    }


    input#search-box{
        margin-top: 60px;
        height: 6vh;
        border-radius: 3rem;
    }

    .search-box {
        font-size: 1.7rem;
    }

    .search-btn {
        margin-top: 70px;
    }

    .fa-search {
        font-size: 1.3rem;
        top: -37px;
        left: -6px;
    }

    .search-list {
        width: 56%;
        margin-left: 151px;
        font-size: 1.5rem;
    }

    p.artist, p.song-title {
        font-size: 2rem;
    }

    button.song-button {
        width: 60px;
        height: 60px;
    }

    i.fas.fa-play {
        font-size: 13px;
    }

}

@media (min-width: 900px) {

    audio.audio-player {
        margin-left: 112px;
    }

    .fa-search {
        top: 40px;
        left: -112px;
    }

    p.artist, p.song-title {
        font-size: 2.5rem;
    }

    button.song-button {
        width: 85px;
        height: 85px;
        margin: 8px 0px 10px 0px;
    }

   i.fas.fa-play {
    font-size: 20px;
    left: 31%;
    }


}