
body::after {
    content: "";
    background: url('img/watercolor4.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    filter: blur(1px); 
  }

  h1.text-center {
    /* font-family: 'Great Vibes', cursive, sans-serif; */
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Bad Script', cursive;

    color: white;
    font-weight: 900;
    text-shadow: 4px 4px 2px gray;
    padding: 10% 3%;
    font-size: 15vw;
}

audio {
    width: 280px;
    margin-bottom: 15%;
}

.search-box {
    width: 75%;
}

.srch-btn-div {
    width: 20%;
    position: relative;
    left: -60px;
    z-index: 1;
    height: 30px;
}

.fa-search {
    position: relative;
    z-index: 1;
    left: 20px;
    top: -32px;
}

.search-box {
    color: lightgray;
    z-index: 1;
    font-size: .8rem;
    /* add width:100% */
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    margin-left: 10%;
    
}

.form-control {
    border-radius: 1rem;
}

.search-results {
    margin-top: 5vh;
}

.search-btn {
    /* border-radius: 0; */
    opacity: 0;
    z-index: 2;
    width: 100px;
    position: relative;
    left: -25px;
}

.song-info-div {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-family: 'Bad Script', cursive;
    color: white;
    font-weight: 900;
    text-shadow: 3px 3px 2px grey;
}

button.song-btn {
    margin-left: 35%;
    border-radius: 50%;
    padding: 20px 20px;
    border: 1px solid white;
    background-color: #ffffff00;
    z-index: 2;
}

.search-list {
    margin-bottom: 15%;
    border-radius: 3rem;
}


i.fas.fa-music {
    position: relative;
    left: -35px;
    top: 5px;
    color: #444444;
}