body {
    background: url('img/watercolor4.jpg') no-repeat center center fixed;
    background-size: cover;
}



h1.text-center {
    font-family: 'Bad Script', cursive;
    color: white;
    font-weight: 900;
    text-shadow: 4px 4px 2px gray;
    padding: 10% 3%;
    font-size: 15vw;
}

audio {
    width: 90%;
    margin: 0 0 12px 9px;
}

.search-box {
    width: 75%;
}

.srch-btn-div {
    width: 20%;
    position: relative;
    left: -60px;
    z-index: 1;
    height: 30px;
}

.fa-search {
    position: relative;
    z-index: 1;
    left: 20px;
    top: -32px;
}

.search-box {
    color: lightgray;
    z-index: 1;
    font-size: .8rem;
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    margin-left: 10%;
}

.form-control {
    border-radius: 1rem;
}

.search-results {
    margin-top: 5vh;
}

.search-btn {
    opacity: 0;
    z-index: 2;
    width: 100px;
    position: relative;
    left: -25px;
}

.song-info-div {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-family: 'Bad Script', cursive;
    color: white;
    font-weight: 900;
    text-shadow: 3px 3px 3px #0d0e0e;
    margin-bottom: -17px;
}

p {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.search-list {
    margin-bottom: 15%;
    border-radius: 3rem;
    background-color: #ffffff52;
}

i.fas.fa-play {
    position: relative;
    left: 27%;
    top: 4px;
    color: rgba(0, 0, 0, .9);
    font-size: 10px;
}

button.song-button {
    width: 49px;
    height: 48px;
    position: relative;
    left: 38%;
    font-size: 0px;
    border-radius: 50%;
    background-color: #ffffff00;
    border-color: #1d2124;
}

@media screen and (min-width: 374px) {
    i.fas.fa-play {
        position: relative;
        left: 28.5%;
    }
}

@media screen and (min-width: 424px) {
    i.fas.fa-play {
        position: relative;
        left: 29.5%;
    }
}

@media screen and (min-width: 767px) {
    i.fas.fa-play {
        position: relative;
        left: 33.5%;
    }
}

@media screen and (min-width: 1023px) {
    h1.text-center {
        font-size: 12vw;
    }

    audio.audio-player {
        margin-left: 138px;
    }

    .fa-search {
        position: relative;
        left: -79px;
        top: -1px;
    }
    .song-info-div {
        font-size: 2.5rem;
        color: white;
    }
    button.song-button {
        left: 43%;
    }
    i.fas.fa-play {
        left: 39.5%;
    }
}

@media screen and (min-width: 1439px){
    h1.text-center {
        font-size: 9rem;
    }

    audio.audio-player {
        margin-left: 139px;
    }

    input#search-box {
        padding: 15px;
        border-radius: 50rem;
    }

    /* i.fas.fa-search {
        font-size: 1.5rem;
        top: 10px;
        left: -99px;
    } */

    i.fas.fa-search {
        font-size: xx-large;
    }

    .song-info-div {
        font-weight: bold;
    }

    button.song-button {
        width: 60px;
        height: 60px;
    }

    i.fas.fa-play {
        left: 40.2%;
        font-size: .8rem;
    }

}